.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);

  &:nth-child(2) {
    top: 89%;
  }

  &:last-child {
    position: sticky;
    top: 100px;
  }

  .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: #ffffff;

    h1 {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    li {
      list-style: none;
      margin-right: 20px;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }

    &_btn {
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn {
    margin: 7px 0;
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    padding: 10px 15px;
    background: #008C8C;
    border: 1px solid #008C8C;
    border-radius: 20px;
    cursor: pointer;
  }
}

.text {
  margin-top: 90px;
}

@media screen and (max-width: 540px) {
  .menu {
    &:nth-child(2) {
      top: 81%;
    }

    &:last-child {
      top: 170px;
    }

    .container {
      flex-direction: column;
      height: auto;
    }
  }
}